[submodule "KablunkEngine/vendor/loguru"]
	path = KablunkEngine/vendor/loguru
	url = https://github.com/emilk/loguru
[submodule "spdlog1"]
	path = spdlog1
	url = https://github.com/gabime/spdlog
[submodule "KablunkEngine/vendor/glm"]
	path = KablunkEngine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "KablunkEngine/vendor/spdlog"]
	path = KablunkEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "KablunkEngine/vendor/yaml-cpp"]
	path = KablunkEngine/vendor/yaml-cpp
	url = https://github.com/happymonkey1/yaml-cpp.git
[submodule "KablunkEngine/vendor/stduuid"]
	path = KablunkEngine/vendor/stduuid
	url = https://github.com/happymonkey1/stduuid.git
[submodule "KablunkEngine/vendor/ImGuizmo"]
	path = KablunkEngine/vendor/ImGuizmo
	url = https://github.com/thecherno/imguizmo
[submodule "KablunkEngine/vendor/assimp"]
	path = KablunkEngine/vendor/assimp
	url = https://github.com/happymonkey1/assimp.git
[submodule "KablunkEngine/vendor/imgui"]
	path = KablunkEngine/vendor/imgui
	url = https://github.com/happymonkey1/imgui.git
	branch = docking
[submodule "KablunkEngine/vendor/box2d"]
	path = KablunkEngine/vendor/box2d
	url = https://github.com/happymonkey1/box2d.git
[submodule "KablunkEngine/vendor/RuntimeCompiledCPlusPlus"]
	path = KablunkEngine/vendor/RuntimeCompiledCPlusPlus
	url = https://github.com/happymonkey1/RuntimeCompiledCPlusPlus.git
[submodule "KablunkEngine/vendor/optick"]
	path = KablunkEngine/vendor/optick
	url = https://github.com/happymonkey1/optick
[submodule "KablunkEngine/vendor/flatbuffers"]
	path = KablunkEngine/vendor/flatbuffers
	url = https://github.com/happymonkey1/flatbuffers
[submodule "KablunkEngine/vendor/protobuf"]
	path = KablunkEngine/vendor/protobuf
	url = git@github.com:happymonkey1/protobuf.git
[submodule "KablunkEngine/vendor/abseil-cpp"]
	path = KablunkEngine/vendor/abseil-cpp
	url = git@github.com:happymonkey1/abseil-cpp.git
