[submodule "KablunkEngine2020/vendor/loguru"]
	path = KablunkEngine2020/vendor/loguru
	url = https://github.com/emilk/loguru
[submodule "spdlog1"]
	path = spdlog1
	url = https://github.com/gabime/spdlog
[submodule "KablunkEngine2020/vendor/imgui"]
	path = KablunkEngine2020/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "KablunkEngine2020/vendor/glm"]
	path = KablunkEngine2020/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "KablunkEngine2020/vendor/spdlog"]
	path = KablunkEngine2020/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
